.expenseCard {
  background: #232323;
  color: #fff;
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 10px 10px 10px 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
  position: relative;
}

.headerRow {
  display: flex;
  align-items: center;
  top: 0.8rem;
  gap: 10px;
  padding: 0 8px;
}

.headerRow > div:first-child {
  display: flex;
  align-items: top;
  gap: 10px;
}

.headerRow .localBox {
  margin-bottom: 0;
  width: auto;
  padding: 4px;
  /* no wrap text*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dateBox {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.96em;
  color: #bfc6d1;
}

.amountBadge {
  background: #1b222c;
  color: #fff;
  border-radius: 10px;
  padding: 0px 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.13);
  border: 1px solid #232b38;
  display: flex;
  align-items: center;
  font-weight: 600;
  min-width: 50px;
  width: auto;
  flex-shrink: 0;
  font-size: 1em;
}

.categoryRow {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1.05em;
  padding: 0 8px;
  margin-top: 8px !important;
}

.localBox {
  display: flex;
  align-items: center;
  justify-self: flex-start;
  gap: 6px;
  background-color: rgba(6, 78, 59, 0.18);
  border-radius: 5px;
  padding: 4px;
  width: 100%;
  max-width: 100%;
  min-width: 0;
  font-size: 0.97em;
}

.actionsRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px !important;
  margin-top: 8px !important;
  gap: 6px;
}

.chipsRow {
  display: flex;
  gap: 5px;
}

.actionButtons {
  display: flex;
  gap: 2px;
}
